.navbar {
    font-family: 'Montserrat', sans-serif; /* Aplicar Montserrat */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: #fff;
    gap: 50px;
  
    .logo img {
      height: 100px;
    }
  
    .nav-links {
      list-style: none;
      display: flex;
      gap: 100px;
      margin: 0;
      padding: 0;
  
      li {
        a {
          text-decoration: none;
          color: #333;
          font-weight: 300; /* Define el peso de la fuente */
          font-size: 20px; /* Tamaño de letra */
          transition: color 0.3s;
  
          &:hover {
            color: #007bff;
          }
        }
      }
    }
  }
  
  /* Media query para pantallas pequeñas */
  @media (max-width: 768px) {
    .nav-links li a {
      font-size: 36px;
    }
  }
  