<div class="footer-container">
  <div class="footer-section footer-section-1">
    <img src="/assets/LOGO-GPLEIVA.png" alt="Grupo Leiva Logo" class="footer-logo">
    <p><strong>Dirección:</strong><br>Javier Prado Este 6536 La Molina, Lima, Peru, 15024</p>
    <p><strong>Correo:</strong><br>ventas&#64;aprendaconducir.com</p>
    <br>
    <p>&copy; 2024 All Rights Reserved</p>
  </div>
  

  <!-- Sección 2 -->
  <div class="footer-section footer-section-2">
    <h3>MENU</h3>
    <nav>
      <ul>
        <li><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#valores">Valores de la Marca</a></li>
        <li><a href="#paquetes">Paquetes</a></li>
        <li><a href="#contactanos">Contácto</a></li>
      </ul>
    </nav>
    
  </div>
  

  <div class="footer-section footer-section-3">
    <div class="reclamaciones">
      <img src="/assets/libroReclamaciones.webp" alt="Libro de Reclamaciones" class="footer-book">
    </div>
    <div class="social-section">
      <h3>SOCIAL</h3>
      <div class="social-icons">
        <a href="#"><img src="/assets/icon/icon-whatsapp.svg" alt="WhatsApp"></a>
        <a href="#"><img src="/assets/icon/icon-instagram.svg" alt="Instagram"></a>
        <a href="#"><img src="/assets/icon/icon-facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="/assets/icon/icon-tiktok.svg" alt="TikTok"></a>
      </div>
    </div>
  </div>
  

</div>
