<div class="nosotros-container">
    <div class="nosotros-content">
      <h2>Acerca de Nosotros</h2>
      <h1>TE ASESORAMOS DESDE EL DÍA 1 HASTA OBTENER TU LICENCIA</h1>
      <p>
        Somos una escuela de manejo comprometida con la formación de conductores seguros y responsables.
        Con instructores altamente capacitados y un enfoque práctico, nos dedicamos a brindar a nuestros
        estudiantes las habilidades necesarias para enfrentar los desafíos de la carretera con confianza.
      </p>
      <button>Contáctanos</button>
    </div>
    <div class="nosotros-image">
      <img src="/assets/Drive2.png" alt="Personas felices en auto">
    </div>
  </div>
  