<div class="paquetes-container">
    <h1>NUESTROS PAQUETES</h1>
    <div class="paquetes-group">
      <div class="paquetes-grid">
        <div class="paquete-item">
          <img src="/assets/promo1.jpg" alt="Paquete 1">
        </div>
        <div class="paquete-item">
          <img src="/assets/promo2.jpg" alt="Paquete 2">
        </div>
        <div class="paquete-item">
          <img src="/assets/promo3.jpg" alt="Paquete 3">
        </div>
      </div>
      <div class="paquetes-grid">
        <div class="paquete-item">
          <img src="/assets/promo4.png" alt="Paquete 4">
        </div>
        <div class="paquete-item">
          <img src="/assets/promo5.png" alt="Paquete 5">
        </div>
        <div class="paquete-item">
          <img src="/assets/promo6.png" alt="Paquete 6">
        </div>
      </div>
    </div>
  </div>
  