<div class="mision-container">
    <div class="mision-image">
      <img src="/assets/Drive2.png" alt="Personas felices en auto">
    </div>
    <div class="mision-content">
      <h1>MISIÓN</h1>
      <p>
        Nuestra misión es ofrecer enseñanza de conducción personalizada y profesional, 
        priorizando la seguridad y el servicio excepcional. Buscamos desarrollar conductores 
        seguros y confiados, promoviendo una cultura de conducción responsable y aspirando a
        ser la mejor opción en el mercado.
      </p>
    </div>
  </div>
  