<div class="vision-container">
    <div class="vision-content">
        <h1>VISIÓN</h1>
        <p>
            Convertirnos en líderes en la enseñanza de la conducción, 
            ofreciendo atención personalizada y servicios profesionales. 
            Nos dedicamos a la mejora continua para garantizar una enseñanza 
            efectiva que asegure la seguridad y el éxito de nuestros conductores.
        </p>
    </div>
    <div class="vision-image">
      <img src="/assets/Drive2.png" alt="Personas felices en auto">
    </div>
  </div>
  