<div class="promesa-container">
    <div class="promesa-image">
      <img src="/assets/Drive2.png" alt="Personas felices en auto">
    </div>
    <div class="promesa-content">
      <h1>PROMESA</h1>
      <p>
        Te guiaremos en un viaje emocionante hacia tu licencia de 
        conducir y a libertad. Aprenderás a manejar con confianza y 
        habilidad gracias a nuestra enseñanza personalizada y 
        profesional. ¡Sé libre detrás del volante con nosotros!
      </p>
    </div>
  </div>
  