<div class="valores-container">
    <h1>VALORES DE LA MARCA</h1>
    <div class="valores-group">
      <div class="valores-grid">
        <div class="valor-item">
          <img src="/assets/icon/icon-confianza.svg" alt="Confianza">
          <p>CONFIANZA</p>
        </div>
        <div class="valor-item">
          <img src="/assets/icon/icon-profesionalismo.svg" alt="Profesionalismo">
          <p>PROFESIONALISMO</p>
        </div>
        <div class="valor-item">
          <img src="/assets/icon/icon-calidad.svg" alt="Calidad">
          <p>CALIDAD</p>
        </div>
        <div class="valor-item">
          <img src="/assets/icon/icon-personalizado.svg" alt="Personalizado">
          <p>PERSONALIZADO</p>
        </div>
      </div>
      <div class="valores-grid">
        <div class="valor-item">
          <img src="/assets/icon/icon-innovacion.svg" alt="Innovación">
          <p>INNOVACIÓN</p>
        </div>
        <div class="valor-item">
          <img src="/assets/icon/icon-experiencia.svg" alt="Experiencia">
          <p>EXPERIENCIA</p>
        </div>
        <div class="valor-item">
          <img src="/assets/icon/icon-igualdad.svg" alt="Igualdad">
          <p>IGUALDAD</p>
        </div>
      </div>
    </div>
  </div>
  