<app-header></app-header>

<section id="inicio">
  <app-inicio></app-inicio>
</section>
<section id="nosotros">
  <app-nosotros></app-nosotros>
</section>
<section id="mision">
  <app-mision></app-mision>
</section>
<section id="vision">
  <app-vision></app-vision>
</section>
<section id="promesa">
  <app-promesa></app-promesa>
</section>
<section id="valores">
  <app-valores></app-valores>
</section>
<section id="paquetes">
  <app-paquetes></app-paquetes>
</section>
<section id="contactanos">
  <app-contactanos></app-contactanos>
</section>

<app-footer></app-footer>
