<div class="contacto-container">
    <div class="contacto-info">
      <h1>Contáctanos</h1>
      <p><strong>DIRECCIÓN</strong></p>
      <p>Javier Prado Este 6536 La Molina, Lima, Peru, 15024</p>
      <p><strong>CORREO</strong></p>
      <p>ventas&#64;aprendaconducir.com</p>
      <p><strong>AYUDA</strong></p>
      <p>Te asesoramos desde el día 1 hasta obtener tu licencia</p>
      <div class="social-icons">
        <a href="#"><img src="/assets/icon/icon-whatsapp.svg" alt="WhatsApp"></a>
        <a href="#"><img src="/assets/icon/icon-instagram.svg" alt="Instagram"></a>
        <a href="#"><img src="/assets/icon/icon-facebook.svg" alt="Facebook"></a>
        <a href="#"><img src="/assets/icon/icon-tiktok.svg" alt="TikTok"></a>
      </div>
    </div>
  
    <div class="contacto-form">
      <form>
        <input type="text" placeholder="Nombre" required>
        <input type="email" placeholder="Correo" required>
        <textarea placeholder="Mensaje" rows="5" required></textarea>
        <button type="submit">ENVIAR</button>
      </form>
    </div>
  </div>
  